@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

#wname {
  color: #fff;
  font-size: 130px;
  text-align: center;
  position: absolute;
  font-family: "Poppins", sans-serif;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  #wname {
    font-size: 50px;
    bottom: 210px;
  }
}

@media screen and (max-width: 924px) {
  #wname {
    font-size: 50px;
    bottom: 210px;
  }
}

/*About*/

#About {
  background-color: rgb(10, 0, 95);
  padding-bottom: 250px;
}

#About h1 {
  text-align: center;
  color: rgb(230, 230, 0);
  padding-top: 30px;
  animation: anim1;
}

#About p {
  font-size: 20px;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
  font-family: sans-serif;
  color: white;
}

#About img {
  width: 500px;
  height: 400px;
  margin-left: 80px;
  float: left;
  border-radius: 50px;
  padding-right: 20px;
}

@media screen and (max-width: 600px) {
  #About img {
    width: 300px;
    height: 200px;
    border-radius: 40px;
    float: none;
    margin-left: 105px;
  }
}

/*Clubs-Socities*/
#Clubs-Socities {
  background-color: white;
  padding-bottom: 250px;
}

#Clubs-Socities h1 {
  text-align: center;
  color: rgb(230, 230, 0);
  padding-top: 30px;
}

#Clubs-Socities p {
  font-size: 20px;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

#Clubs-Socities img {
  width: 500px;
  height: 400px;
  margin-left: 80px;
  float: right;
  border-radius: 50px;
  padding-left: 20px;
}

@media screen and (max-width: 600px) {
  #Clubs-Socities img {
    width: 300px;
    height: 200px;
    border-radius: 40px;
    float: none;
    margin-left: 105px;
  }
}

#Contact {
  background-color: rgb(80, 76, 76);
  padding-bottom: 100px;
}

#Contact h1 {
  text-align: center;
  color: rgb(230, 230, 0);
  padding-top: 30px;
}

#Contact p {
  font-size: 20px;
  text-align: left;
  padding-left: 30px;
  padding-right: 70px;
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
}

#myBtn {
  border: none;
  border-radius: 4px;
  background-color: rgb(223, 223, 0);
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 10px;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 2px 100px;
  z-index: 100000;
  display: none;
}

header .slogo img {
  position: relative;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  width: 70px;
  height: 100px;
}

header .slogo img:hover {
  position: relative;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  width: 70px;
  height: 100px;
  animation: logoanim1 infinite;
}
@keyframes logoanim1 {
  from {
    width: 70px;
    height: 100px;
  }
  to {
    width: 80px;
    height: 200px;
  }
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

header.sticky {
  padding: 5px 100px;
  background: rgba(255, 255, 255, 0.137);
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(Images/Royal\ college\ welcome\ image.jpg);
  background-size: cover;
}

header.sticky .slogo,
header.sticky ul li a {
  color: rgb(0, 0, 0);
}

/*Drop down*/

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#preloader {
  background: #000 url(Images/RC-Crest_thumb[3].gif) no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

@media screen and (max-width: 600px) {
  #preloader {
    background-size: 40%;
  }
}
.hidden {
  display: none;
}
